<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p style="white-space: normal; text-align: center;"><span style="font-size: 20px;"><strong>离职证明</strong></span></p>
<p style="white-space: normal; text-align: center;"><span style="font-size: 16px;">&nbsp;&nbsp;兹证明周奔先生，自2017年6月6日至2019年6月28日入职我公司担任新零售saas部门java开发岗，由于个人原因提出辞职，</span></p>
<p style="white-space: normal; margin-left: 100px"><span style="font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在此工作期间无不良表现，工作良好，同事关系融洽。 经公司慎重考虑准予离职，已办理交接手续。特此证明！</span></p>
<p style="white-space: normal; margin-left: 800px"><span style="font-size: 16px;">公司盖章 </span></p>
<p style="white-space: normal; margin-left: 800px"><span style="font-size: 16px;">日期： _2019_年_6_月_28_日 </span></p>
</body>
</html>